doctype html
html(lang="en")
  head
    title User Testing 360°
    link(rel='shortcut icon' href='favicon.ico.png' type='image/png')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script(src='js/jquery-1.12.3.min.js')
    script(src='js/bootstrap.min.js')
    link(rel='stylesheet' href='css/bootstrap.min.css')
    link(rel='stylesheet' href='css/icomoon.css')
    link(rel='stylesheet' href='css/font-awesome.css')
    link(rel='stylesheet' href='css/main.css')
  body
    header      
      .row
        .col-md-4
          img(src='image/user-r.png')
        .col-md-8
          ul.list-inline
            li
              a(href='#') ¿Qué me ofrece?
            li
              a(href='#') ¿Cómo funciona?
            li
              a(href='#') ¿Por qué usarlo?
            li
              a(href='#') Contáctanos
      .container
        .row
          h1 Obtén videos de personas reales utilizando tu sitio web, en 1 hora
        .row
          .col-md-6
            h1 PRUEBA GRATUITA
            p Obtén un video gratis de 5 minutos
          .col-md-6
            button Pruebalo gratis
    section#servicios
      .container
        .row
          h1 Nuestros servicios
          .col-md-4
            i
            h3 Pruebalo gratis
            p Obtén un primer video screencast de un usuario navegando tu página
          .col-md-4
            i
            h3 Compra el servicio completo
            p Obtén un primer video screencast de un usuario navegando tu página
          .col-md-4
            i
            h3 Obtén el resultado en 1 día
            p Obtén un primer video screencast de un usuario navegando tu página
        .row
          hr
          img(src='image/separador.png')
    section#funcion
      .container
        .row
          .col-md-6
            h2 Ejemplo de
            img(src='image/logo-2.jpg')
            p En este video te damos un ejemplo de un integrantede nuestro panel evaluando la experiencia de usa de
            a(href='#') mimediamanzana.com
            p En este video te damos un ejemplo de un integrantede nuestro panel evaluando la experiencia de usa de
            img(src='image/flecha.png')
          .col-md-6
            video
        .row
          .col-md-6
            img.img-responsive(src='image/sec-2.jpg')
          .col-md-6
            h3 Lo quiero ¿Qué hago?
            .uso-text
              i
              h4 Paso 1: enviamos tu link
              p Al darle click En este video te damos un ejemplo de un integrantede nuestro panel evaluando la experiencia de usa de
            .uso-text
              i
              h4 Paso 2: enviamos tu link
              p Al darle click En este video te damos un ejemplo de un integrantede nuestro panel evaluando la experiencia de usa de
              ul
                li Al darle click En este video te
                li Al darle click En este video te
                li Al darle click En este video te
              p Al darle click En este video te
            .uso-text
              i
              h4 Paso 3: enviamos tu link
              p Al darle click En este video te damos un ejemplo de un integrantede nuestro panel evaluando la experiencia de usa de
        .row
          hr
          img(src='image/separador.png')
    section#uso
      .container
        .row
          .col-md-6
            h2 Por qué usar
            img(src='image/logo-2.jpg')
            p Al darle click En este video te damos un ejemplo de un integrantede nuestro panel evaluando la experiencia de usa de
              ul
                li Al darle click En este video te
                li Al darle click En este video te
                li Al darle click En este video te
              p Al darle click En este video te
          .col-md-6
            img.img-responsive(src='image/banner.jpg')
    footer
      .row
          .col-md-6
            h1 PRUEBA GRATUITA
            p Obtén un video gratis de 5 minutos
          .col-md-6
            button Pruebalo gratis
      .row
          .col-md-6
            p Escribenos a:
            a(href='#') experienciadeusuario.lab@gmail.com
            p telef: 989637925
          .col-md-6
            i
            i
            p Copyright &copy; 2016 - User Testing 360°



